<div class="container">
  <form #noteForm="ngForm" (submit)="noteSubmit(noteForm.value); noteForm.resetForm()">
    <div class="form-group">
      <h1 class="text-center">Notes Records</h1>
      <div *ngIf="filteredRecords !== null" class="filteredRecords">
        <div class="noteRecord" *ngFor="let note of filteredRecords">
          <div class="noteRecordContent">
            <input matInput type="text" #recordText (keyup.enter)="addNewTags(note, recordText.value)"
              [value]="note.text">
            <div class="tags">
              <div contenteditable="true" class="tag" *ngFor="let tag of note.tags">
                {{tag}}
                <span contenteditable="false" class="button" value="delete" (click)="deleteTag(tag)">
                  x
                </span>
              </div>
            </div>
          </div>
          <span (click)="deleteItem(note)" class="button">
            X
          </span>
        </div>
      </div>

      <input type="text" placeholder="filter by tags" #filter value="#" (change)="filterRecords(filter.value)">


      <div class="input-group-prepend">

        <input type="text" #note placeholder="Write Text" name="text" ngModel>

        <span class="button" (click)="addNote(note.value)">
          <b>+</b>
        </span>

      </div>
    </div>
    <div class="data">
      <div class="noteRecord" *ngFor="let note of notesArray">
        <div class="noteRecordContent">
          <input matInput type="text" #recordText (keyup.enter)="addNewTags(note, recordText.value)"
            [value]="note.text">
          <div class="tags">
            <div contenteditable="true" class="tag" *ngFor="let tag of note.tags">
              {{tag}}
              <span contenteditable="false" class="button" value="delete" (click)="deleteTag(tag)">
                x
              </span>
            </div>
          </div>
        </div>
        <span class="button" (click)="deleteItem(note)">
          X
        </span>
      </div>
    </div>
  </form>

</div>